<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>splash_background</string>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>$(FACEID_USAGE_DESCRIPTION)</string>
	<key>SolanaRpcEndpoint</key>
	<string>$(SOLANA_RPC_ENDPOINT)</string>
</dict>
</plist>
